{% extends "base.html" %}
{% load static %}

{% block title %}Basket{% endblock %}

{% block content %}
    <main class="shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Shopping Cart</h2>
                    <p>This shopping cart belongs to {{ user }}.</p>
                </div>
                <div class="content">
                    <div class="row no-gutters">
                        <div class="col-md-12 col-lg-8">
                            <div class="items">
                                {% for basket_item in basket_items %}
                                    <div class="product">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-md-3">
                                                <div class="product-image">
                                                    <img class="img-fluid d-block mx-auto image" src="{{ basket_item.product.main_image.image.url }}">
                                                </div>
                                            </div>
                                            <div class="col-md-5 product-info">
                                                <a class="product-name" href="{% url "product_details" slug=basket_item.product.slug %}">
                                                    {{ basket_item.product.name }}
                                                </a>
                                                <div class="product-specs">
                                                    <div>
                                                        <span>Size:&nbsp;</span>
                                                        <span class="value">{{ basket_item.size }}</span>
                                                    </div>
                                                    <div>
                                                        <span>Color:&nbsp;</span>
                                                        <span class="value">{{ basket_item.color }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-2 quantity">
                                                <label class="d-none d-md-block" for="quantity">Quantity</label>
                                                <input type="number" id="number" class="form-control quantity-input" value="1">
                                            </div>
                                            <div class="col-6 col-md-2 price">
                                                <span>${{ basket_item.product.price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Summary</h3>
                                <h4>
                                    <span class="text">Subtotal</span>
                                    <span class="price">${{ subtotal }}</span>
                                </h4>
                                <h4>
                                    <span class="text">Discount</span>
                                    <span class="price">${{ discount }}</span>
                                </h4>
                                <h4>
                                    <span class="text">Shipping</span>
                                    <span class="price">$0.0</span>
                                </h4>
                                <h4>
                                    <span class="text">Total</span>
                                    <span class="price">${{ total }}</span>
                                </h4>
                                <button class="btn btn-primary btn-block btn-lg" type="button">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}